aiogram==2.10.1
aiohttp==3.6.2
altgraph==0.17
amocrm==0.7.7
amqp==5.0.2
appdirs==1.4.4
APScheduler==3.6.3
arrow==0.15.5
asgiref==3.3.0
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
Babel==2.8.0
backoff==1.8.0
beautifulsoup4==4.8.2
billiard==3.6.3.0
bitrix24-python-sdk==1.0.1
bitrix24-rest==1.1.1
bs4==0.0.1
cached-property==1.5.1
cachetools==4.0.0
celery==5.0.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==2.8
curlify==2.2.1
decorator==4.4.2
defusedxml==0.6.0
Delorean==1.0.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.3
django-apscheduler==0.5.1
django-background-tasks==1.2.5
django-celery==3.3.1
django-celery-beat==2.1.0
django-compat==1.0.15
django-kombu==0.9.4
django-timezone-field==4.1.1
et-xmlfile==1.0.1
facebook-business==8.0.6
facebookads==2.11.4
filelock==3.0.12
flatten-json==0.1.7
future==0.18.2
fuzzywuzzy==0.18.0
gaapi4py==1.2.0
gaclient==0.3b2
gevent==20.9.0
google==2.0.3
google-ads==5.1.0
google-api-core==1.15.0
google-api-python-client==1.8.4
google-auth==1.18.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.24.0
google-cloud-core==1.1.0
google-oauth==1.0.1
google-resumable-media==0.5.0
googleads==24.0.0
googleapis-common-protos==1.6.0
greenlet==0.4.17
grequests==0.6.0
grpcio==1.29.0
gsclight==0.0.1
gspread==3.6.0
gTTS==2.2.1
gunicorn==20.0.4
httplib2==0.15.0
humanize==2.3.0
idna==2.8
isodate==0.6.0
jdcal==1.4.1
joblib==0.17.0
jsonschema==2.6.0
kombu==5.0.2
lxml==4.5.0
manage.py==0.2.10
multidict==4.7.6
multidimensional-urlencode==0.0.4
numpy==1.18.1
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.3
pandas==1.1.4
pandas-gbq==0.13.0
pandas-io==0.0.1
pefile==2019.4.18
pickle-mixin==1.0.2
Pillow==7.0.0
playsound==1.2.2
progress==1.5
progressbar==2.5
progressbar2==3.50.1
prompt-toolkit==3.0.10
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==19.8.18
pycparser==2.20
pydata-google-auth==0.2.1
pydub==0.24.1
pygame==1.9.6
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.8
pyOpenSSL==19.1.0
PySimpleGUI==4.28.0
python-crontab==2.5.1
python-dateutil==2.8.1
python-telegram-bot==12.7
python-utils==2.4.0
pythonbq==0.1
pytz==2018.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
scikit-learn==0.23.2
scipy==1.5.4
searchconsole==0.0.4
selenium==3.141.0
Shelves==0.3.8
simplejson==3.11.1
SimplePool==0.1
six==1.13.0
sklearn==0.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
sqlparse==0.3.0
telebot==0.0.3
telegram==0.0.1
termcolor==1.1.0
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.51.0
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.25.7
vine==5.0.0
virtualenv==20.1.0
vk==2.0.2
wcwidth==0.2.5
wget==3.2
whitenoise==5.2.0
xlrd==1.2.0
xmltodict==0.12.0
yarl==1.6.0
zeep==3.4.0
zope.event==4.5.0
zope.interface==5.1.2
